
<%- include ("topo") %>
<form action='/produtos' method='post'>
    Nome do Produto:<br>
     <input type='text' name='nomeFiltro' id='nomeFiltro'>
    <br>
    Preço Máximo:<br> <input type='text' name='precoMaximo' id='precoMaximo'> <br> <input type='submit' value='Enviar'>
</form>
<%- include("rodape") %>
