<!-- excluiProduto.ejs -->
<%- include("topo") %>
<h1>Exclusão de Produto</h1>
<p>Tem certeza que deseja excluir este produto?</p>
<a href="/excluirProdutoConfirmado?id=<%= produto.id %>">Sim</a>
<a href="/resultadoBusca">Não</a>
<%- include("rodape") %>
